
/*global styling */

.section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 500px;
    width: 700px;
}

.inputContainer{
    display: flex;
    flex-direction: column;
}

.buttonContainer {
    width: inherit;
    display: flex;
    justify-content: space-between;
}

.step1{
    background-color: bisque;
}

.step2{
    background-color: rgb(201, 143, 129);
}